%h2 Konto
= form_for @user do |f|
  .row.collapse.field
    .small-2.columns
      %span.prefix
        %i.fi-torso
    .small-10.columns
      = f.text_field :full_name, {placeholder: "Fulde navn", value: @user.format_name}
  .actions
    = f.submit 'Gem', {class:"button success expand"}
= button_to "Slet", @user, {method: :delete, class: "button expand alert"}