%h2 Vis bruger

%p
  %b Navn:
  = @user.format_name
  %br/
  %b Email:
  = @user.email
  %br/
  %br/
  - if @user == current_user or current_user.admin
    = link_to "Rediger Bruger", edit_user_path(@user), {class:"button expand",data: {reveal_id:"edit_user", reveal_ajax:"true"}}
