/.reservation.panel{data: {id: reservation.id ,starts_at:reservation.starts_at, ends_at:reservation.ends_at}}
.reservation.panel.has-tip.tip-top.radius{"aria-haspopup" => "true", data: {tooltip:"",id: reservation.id ,starts_at:reservation.starts_at, ends_at:reservation.ends_at}, title: "ID: 1<br/>Klokken: 08:00 - 12:00<br/>Varer: 5 timer"}