.printer-header
  cursor: pointer
#bookings_table
  td
    position: relative
    height: 500px
    width: 200px
    padding: 0px
    .reservation
      position: absolute
      width: 100%
      cursor: pointer
      padding: 0
      margin: 0
      &:hover
        border-color: #b6edff
        background: #ecfaff
        color: #333333
    .notreservation
      position: absolute
      width: 100%
      cursor: pointer
      padding: 0
      margin: 0
      &:hover
        border-color: #b6FFff
        background: #fffaff
        color: #333333
    .current_time
      display:block
      width: 100%
      height: 2px
      background-color: red
      position: absolute
      top: 10px
      z-index: 1
