.printer-header
  cursor: pointer
#bookings_table
  margin-left: auto
  margin-right: auto
  thead
    tr
      td:first-of-type
        // background-color: gray
  tbody
    th
      background-color: #F5F5F5
    td
      position: relative
      height: 500px
      width: 200px
      padding: 0px
      .current-time
        position: absolute
        width: 100%
        height: 2px
        background-color: black
      .reservation
        position: absolute
        width: 100%
        cursor: pointer
        padding: 0
        margin: 0
        opacity: 0.8
        border-color: #b6edff
        color: #333333
        &:hover
          opacity: 0.9
      .reservation.red
        background: #EF9696
      .reservation.blue
        background: #3F88A8
#admin_menu
  #active-printers, #inactive-printers, #search_results
    list-style-type: none
    .delete
      color: red
  #active-printers
  #inactive-printers
    .show
      text-decoration: line-through
      color: grey
#new_session, #new_user, #edit_user, #show_user, #new_printer, #show_printer, #edit_printer, #new_reservation, #show_reservation, #admin_menu
  h2
    font-family: Helvetica
    font-size: 26px
    font-weight: 200
    text-align: center
    margin-left: 0
    margin-bottom: 20px
  p
    font-size: 14px
    font-weight: 200
    margin-top: 15px
#new_session, #new_user, #edit_user
  p
    font-size: 13px
  i
    font-size: 30px
    line-height: 50px
    color: #999 
  input, span
    height: 50px