.contain-to-grid
  %nav.top-bar{"data-topbar" => "", :role => "navigation"}
    %ul.title-area
      %li.name
        %h1
          = link_to "LTG 3D-Print", root_path
      %li.toggle-topbar.menu-icon
        %a{:href => "#"}
          %span
    %section.top-bar-section
      %ul.left
      %ul.right
        - if signed_in?
          %li.has-dropdown
            %a{href:"#", style:"font-weight:bold;"}= current_user.format_name
            %ul.dropdown
              %li
                = link_to "Log out", sessions_destroy_path, :method => :delete
        - else
          %li
            %a#log-in-button{href: "#", "data-reveal-id" => "new_session"} Log ind