.contain-to-grid
  %nav.top-bar{"data-topbar" => "", :role => "navigation"}
    %ul.title-area
      %li.name
        %h1
          = link_to "LTG 3D-Print", root_path
      %li.toggle-topbar.menu-icon
        %a{:href => "#"}
          %span
    %section.top-bar-section
      %ul.left
      %ul.right
        %li
          %a#log-in-button{href: "#"} Log ind